<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CPE111 Maze Game</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/jquery.Jcrop.min.css"/>
</head>
<body>
  <!-- script -->
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/vendor/modernizr.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/jquery.Jcrop.js"></script>
  <script src="js/vendor/ocrad.min.js"></script>
  <script src="js/vendor/glfx.min.js"></script>


  <div class="container">
  <br>
    <div class="well col-md-8 col-md-offset-2" id="step1" style="text-align:center;"  ng-init="screen=1" ng-show="screen==1">
      <figure id="step1_figure">
        <video autoplay width="640"></video>
      </figure><br>
      <button class="btn btn-lg btn-success" id="takePicture" disabled="disabled" ng-click="screen=2">Take a picture</button>
    </div>

    <div class="well col-md-12" id="step2" ng-show="screen==2">
      <div class="row">
      <div class="col-md-9">
        <center>
        <figure>
          <canvas id="step2_canvas" width="640" height="360" style="display:none; margin:auto;"></canvas>
          <img id="step2_img" src=""/>
        </figure>
        </center>
      </div>
      <div class="col-md-3">
        <h3>
          <b>Crop</b> the picture <br>and <b>Adjust</b> it <br>so that text is clearly visible.
        </h3>
        <hr>
        <p>Brightness: <input type="range" min="0" max="100" id="brightness" value="20"></p>
        <p>Contrast: <input type="range" min="0" max="100" id="contrast" value="90"></p>
        <hr>
        <button class="btn btn-block btn-success" disabled="disabled" id="adjust" ng-click="screen=3">Done</button>
      </div>
      </div>
    </div>

    <div class="well col-md-6 col-md-offset-3" id="step3" ng-show="screen==3">
      <h1 ng-show="!level_name">Customize Level</h1>
      <h1 ng-show="level_name">Customize {{level_name}}</h1>
      <hr>
      <center>
      <figure>
        <canvas id="step3_canvas" width="480"></canvas>
      </figure>
        <p id="result"></p>
      </center>
      <hr>
      <form class="form-horizontal" id="submit_form" role="form" action="process.php" method="POST">
        <input type="text" name="tileText" style="display:none;" id="resultForm"/>
        <div class="form-group">
          <label class="col-sm-3 control-label">Level Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="level_name" name="level_name" id="level_name">
          </div>
        </div>
        <hr>
        <input class="btn btn-block btn-primary"  id="submit" type="submit" value="Submit to database"/>
      </form>
      <a href="#" class="btn btn-block btn-default" id="start-over" ng-click="screen=1">Re-Capture</a>
    </div>
  </div>

  <script>
  var video = document.querySelector('video');

  var pictureWidth = 640;
  var pictureHeight = 360;

  var fxCanvas = null;
  var texture = null;


  function DFS(x, y, key, step, back)
  {
    stop = 0;
    table[y][x]=step;
    if(x-1>0&&table[y][x-1]!=0&&table[y][x-1]!=step&&stop==0){
      if(table[y][x-1]==-2&&stop==0){
        return 1;
      } else if(table[y][x-1]==-3&&key>0&&stop==0) {
        stop=DFS(x-1,y,key-1,step,table[y][x-1]);
      } else if(table[y][x-1]==-4&&stop==0) {
        stop=DFS(x-1,y,key+1,step+1,table[y][x-1]);
      } else if(table[y][x+1]>=-1&&stop==0) {
        stop=DFS(x-1,y,key,step,table[y][x-1]);
      }
    }

    if(x+1<X&&table[y][x+1]!=0&&table[y][x+1]!=step&&stop==0){
      if(table[y][x+1]==-2&&stop==0){
        return 1;
      } else if(table[y][x+1]==-3&&key>0&&stop==0) {
        stop=DFS(x+1,y,key-1,step,table[y][x+1]);
      } else if(table[y][x+1]==-4&&stop==0) {
        stop=DFS(x+1,y,key+1,step+1,table[y][x+1]);
      } else if(table[y][x+1]>=-1&&stop==0) {
        stop=DFS(x+1,y,key,step,table[y][x+1]);
      }
    }

    if(y-1>0&&table[y-1][x]!=0&&table[y-1][x]!=step&&stop==0){
      if(table[y-1][x]==-2&&stop==0){
        return 1;
      } else if(table[y-1][x]==-3&&key>0&&stop==0) {
        stop=DFS(x,y-1,key-1,step,table[y-1][x]);
      } else if(table[y-1][x]==-4&&stop==0) {
        stop=DFS(x,y-1,key+1,step+1,table[y-1][x]);
      } else if(table[y-1][x]>=-1&&stop==0) {
        stop=DFS(x,y-1,key,step,table[y-1][x]);
      }
    }

    if(y+1<Y&&table[y+1][x]!=0&&table[y+1][x]!=step&&stop==0) {
      if(table[y+1][x]==-2&&stop==0) {
        return 1;
      } else if(table[y+1][x]==-3&&key>0&&stop==0){
        stop=DFS(x,y+1,key-1,step,table[y+1][x]);
      } else if(table[y+1][x]==-4&&stop==0) {
        stop=DFS(x,y+1,key+1,step+1,table[y+1][x]);
      } else if(table[y+1][x]>=-1&&stop==0) {
        stop=DFS(x,y+1,key,step,table[y+1][x]);
      }
    }
    table[y][x]=back;
    return stop;
  }

  function pathCheck(){
    //scanf("%d%d",&X,&Y);
    var s=0;

    for(i=0;i<Y;i++){
      for(j=0;j<X;j++){
        input=a[i][j];
        if(input=='x'){
          table[i][j]=0;
        } else if(input=='o') {
          table[i][j]=-1;
        } else if(input=='f') {
          table[i][j]=-2;
        } else if(input=='s') {
          if(s==0){
            s=1;
          } else {
            return 0;
          }
          table[i][j]=1;
          start[1]=j;
          start[0]=i;
        } else if(input=='d'){
          table[i][j]=-3;
        } else if(input=='k'){
          table[i][j]=-4;
        }
      }
    }
    if(DFS(start[1],start[0],0,1,1)==1){
      return 1;
    }
    return 0;
  }

  function checkRequirements() {
    var deferred = new $.Deferred();

    //Check if getUserMedia is available
    if (!Modernizr.getusermedia) {
      deferred.reject('Your browser doesn\'t support getUserMedia (according to Modernizr).');
    }

    //Check if WebGL is available
    if (Modernizr.webgl) {
      try {
        //setup glfx.js
        fxCanvas = fx.canvas();
      } catch (e) {
        deferred.reject('Sorry, glfx.js failed to initialize. WebGL issues?');
      }
    } else {
      deferred.reject('Your browser doesn\'t support WebGL (according to Modernizr).');
    }

    deferred.resolve();

    return deferred.promise();
  }

  function searchForRearCamera() {
    var deferred = new $.Deferred();

    //MediaStreamTrack.getSources seams to be supported only by Chrome
    if (MediaStreamTrack && MediaStreamTrack.getSources) {
      MediaStreamTrack.getSources(function (sources) {
        var rearCameraIds = sources.filter(function (source) {
          return (source.kind === 'video' && source.facing === 'environment');
        }).map(function (source) {
          return source.id;
        });

        if (rearCameraIds.length) {
          deferred.resolve(rearCameraIds[0]);
        } else {
          deferred.resolve(null);
        }
      });
    } else {
      deferred.resolve(null);
    }

    return deferred.promise();
  }

  function setupVideo(rearCameraId) {
    var deferred = new $.Deferred();
    var getUserMedia = Modernizr.prefixed('getUserMedia', navigator);
    var videoSettings = {
      video: {
        optional: [
        {
          width: {min: pictureWidth}
        },
        {
          height: {min: pictureHeight}
        }
        ]
      }
    };

    //if rear camera is available - use it
    if (rearCameraId) {
      videoSettings.video.optional.push({
        sourceId: rearCameraId
      });
    }

    getUserMedia(videoSettings, function (stream) {
      //Setup the video stream
      video.src = window.URL.createObjectURL(stream);

      window.stream = stream;

      video.addEventListener("loadedmetadata", function (e) {
        //get video width and height as it might be different than we requested
        pictureWidth = this.videoWidth;
        pictureHeight = this.videoHeight;

        if (!pictureWidth && !pictureHeight) {
          //firefox fails to deliver info about video size on time (issue #926753), we have to wait
          var waitingForSize = setInterval(function () {
            if (video.videoWidth && video.videoHeight) {
              pictureWidth = video.videoWidth;
              pictureHeight = video.videoHeight;

              clearInterval(waitingForSize);
              deferred.resolve();
            }
          }, 100);
        } else {
          deferred.resolve();
        }
      }, false);
    }, function () {
      deferred.reject('There is no access to your camera, have you denied it?');
    });

    return deferred.promise();
  }

  function step1() {
    checkRequirements()
    .then(searchForRearCamera)
    .then(setupVideo)
    .done(function () {
      //Enable the 'take picture' button
      $('#takePicture').removeAttr('disabled');
      //Hide the 'enable the camera' info
      $('#step1 figure').removeClass('not-ready');
    })
    .fail(function (error) {
      showError(error);
    });
  }

  function step2() {
    var canvas = document.querySelector('#step2_canvas');
    var img = document.querySelector('#step2_img');

    //setup canvas
    canvas.width = pictureWidth;
    canvas.height = pictureHeight;

    var ctx = canvas.getContext('2d');

    //draw picture from video on canvas
    ctx.drawImage(video, 0, 0);

    //modify the picture using glfx.js filters
    texture = fxCanvas.texture(canvas);
    fxCanvas.draw(texture)
    .hueSaturation(-1, -1)//grayscale
    .unsharpMask(20, 2)
    .brightnessContrast(0.2, 0.9)
    .update();

    window.texture = texture;
    window.fxCanvas = fxCanvas;

    $(img)
    //setup the crop utility
    .one('load', function () {
      if (!$(img).data().Jcrop) {
        $(img).Jcrop({
          onSelect: function () {
            //Enable the 'done' button
            $('#adjust').removeAttr('disabled');
          }
        });
      } else {
        //update crop tool (it creates copies of <img> that we have to update manually)
        $('.jcrop-holder img').attr('src', fxCanvas.toDataURL());
      }
    })
    //show output from glfx.js
    .attr('src', fxCanvas.toDataURL());
  }

  function step3() {
    var canvas = document.querySelector('#step3_canvas');
    var step2Image = document.querySelector('#step2_img');
    var cropData = $(step2Image).data().Jcrop.tellSelect();

    var scale = step2Image.width / $(step2Image).width();

    //draw cropped image on the canvas
    canvas.width = cropData.w * scale;
    canvas.height = cropData.h * scale;

    var ctx = canvas.getContext('2d');
    ctx.drawImage(
    step2Image,
    cropData.x * scale,
    cropData.y * scale,
    cropData.w * scale,
    cropData.h * scale,
    0,
    0,
    cropData.w * scale,
    cropData.h * scale);

    //use ocrad.js to extract text from the canvas
    var resultText = OCRAD(ctx);
    resultText = resultText.replace(/\s+/g,"");
    resultText = resultText.replace(/[^xXoOsSdDkKfFbB]/g,"");
    resultText = resultText.replace(/[X]/g,"x");
    resultText = resultText.replace(/[O]/g,"o");
    resultText = resultText.replace(/[F]/g,"f");
    resultText = resultText.replace(/[K]/g,"k");
    resultText = resultText.replace(/[D]/g,"d");
    resultText = resultText.replace(/(\r\n|\n|\r)/gm,"");
    if(resultText.length<128){
      for(i=(resultText.length-1); i<128; i++){
      resultText[i] = 'o';
      }
    }
    a = new Array(8);
    table = new Array(100);
    for(i=0; i<100; i++){
      table[i] = new Array(100);
    }
    start = new Array(2);
    var i,j,s,k=0;
    Y = 8;
    X = 16;
    for(i=0; i<Y; i++){
      a[i] = new Array(16)
      for(j=0; j<X; j++, k++){
        a[i][j] = resultText[k];
        if(resultText[k]==''){
          a[i][j] = 'o'
        }
      }
    }

    a[1][1] = 's';
    resultCheck = pathCheck();
    if(resultCheck==1){
      displayText = "<h2><span class='label label-success'>Maze validated!</span></h2>";
      $("#submit_form").css("display","block");
    } else {
      displayText = "<h2><span class='label label-danger'>Your Maze is unable to play. Try Again</h2></span></h2>";
      $("#submit_form").css("display","none");
    }
    $("#result").html(displayText);
    $("#resultForm").val(resultText);
  }

  function changeStep(step) {
    if (step === 1) {
      video.play();
    } else {
      video.pause();
    }

  }

  $('#brightness, #contrast').on('change', function () {
    var brightness = $('#brightness').val() / 100;
    var contrast = $('#contrast').val() / 100;
    var img = document.querySelector('#step2 img');

    fxCanvas.draw(texture)
    .hueSaturation(-1, -1)
    .unsharpMask(20, 2)
    .brightnessContrast(brightness, contrast)
    .update();

    img.src = fxCanvas.toDataURL();

    //update crop tool (it creates copies of <img> that we have to update manually)
    $('.jcrop-holder img').attr('src', fxCanvas.toDataURL());
  });

  $('#takePicture').click(function () {
    step2();
    changeStep(2);
  });

  $('#adjust').click(function () {
    step3();
    changeStep(3);
  });

  $('#go-back').click(function () {
    changeStep(2);
  });

  $('#start-over').click(function () {
    changeStep(1);
  });

  $(document).ready(function(){
    step1();
  });

  </script>
</body>
</html>
